@using FirstApp.ViewModels;
@model CatalogIndexViewModel;
@{
    ViewData["Title"] = "Catalog Index";
}
<h1>@ViewData["Title"]</h1>

<section class="esh-catalog-filters">
    <div class="container">

        <form method="get">
            <label class="esh-catalog-label" data-title="brand">
                <select class="esh-catalog-filter" asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select class="esh-catalog-filter" asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types"></select>
            </label>
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
    </div>
</section>

@*

 @if (true)
*@
<div class="container">
    @if (Model.CatalogItems.Any())
    {
        @*
        <partial name="_pagination" for="CatalogModel.PaginationInfo" />
        *@
        <div class="esh-catalog-items row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="esh-catalog-item col-md-4">
                    <partial name="_product" for="@catalogItem" />
                </div>
            }
        @*
            @for (int i = 0; i < 5; i++)
            {
                <div class="esh-catalog-item col-md-4">
                    <label name="_product"> @i </label>
                </div>
            }
        *@
        </div>
        @*
    <partial name="_pagination" for="CatalogModel.PaginationInfo" />
    *@
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>

